
@model Bid

<h2>Bidding</h2>
<p>Please place your bid on</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="PlaceBid" method="post">
	<input type="hidden" asp-for="ProductId" />
	<div class="form-group">
		<label>Product Name:</label><input asp-for="ProductName" class="form-control" readonly />
	</div>
	<div class="form-group">
		<label>Your First Name:</label><input asp-for="BidderFirstName" class="form-control" />
	</div>
	<div class="form-group">
		<label>Your Last Name:</label><input asp-for="BidderLastName" class="form-control" />
	</div>
	<h3>Bid amount</h3>
	<div class="form-group">
		<label>Amount:</label><input asp-for="BidderBid" class="form-control" />
	</div>
	<div class="text-center">
		<input class="btn btn-primary" type="submit" value="Place the bid" />
	</div>
</form>

